{% extends 'TestApp/base/base.html' %}

{% load static %}


{% block title %}
    Gary's Home
{% endblock %}

{% block body %}
    <h1>This is my fucking home!</h1>
    <a href="{% url 'toilet' %}" class="btn">Toilet</a>
    <ol>
        {% for people in peoples %}
            {% include 'TestApp/includes/people_detail.html' with name=people.name email=people.email age=people.age school=people.school slug=people.slug image=people.image.url%}
        {% endfor %}

    </ol>
    <h2>New comer? come over here :) Join us for free candy.</h2>

    <form action="{% url 'home' %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <ul>
           {{ prform.as_ul }}
        </ul>
        <div id="registration-action">
            <button>Submit</button>
        </div>
    </form>

{% endblock %}